.no-js .lazy {
	display: none;
}

*,
:after,
:before {
	box-sizing: border-box;
}

* {
	margin: 0;
	line-height: calc(1em + .5rem);
}

body {
	font-family: Seravek, Gill Sans Nova, Ubuntu, Calibri, DejaVu Sans, source-sans-pro, sans-serif;
}

a {
	outline: 0;
	font-weight: 700;
	text-decoration: none;
}

button,
input {
	font: inherit;
}

ol,
ul {
	padding: 0;
	list-style: none;
}

header {
	color: #fff;
	background-color: #000;
}

h1 {
	font-size: 2.5rem;
	display: inline-block;
}

header p {
	max-width: 27.5em;
	margin: .5rem 0 1rem;
}

header ul {
	gap: 2rem;
	display: flex;
}

header a,
header a:visited {
	color: #fff;
	align-items: center;
	display: flex;
}

svg {
	margin-right: .4rem;
}

ol {
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	gap: 1.5rem;
	display: grid;
}

header,
main {
	padding: 1rem calc(1rem + env(safe-area-inset-right)) 1rem calc(1rem + env(safe-area-inset-left));
}

ol li {
	border: 3px solid;
	flex-direction: column;
	transition-property: all;
	transition-duration: .12s;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	display: flex;
	position: relative;
}

h2 {
	text-wrap: balance;
	overflow-wrap: anywhere;
	margin: 0 .75rem .75rem;
}

h2 a {
	line-height: 1.1;
	display: flex;
}

h2 a:after {
	content: "";
	position: absolute;
	inset: 0;
}

li p {
	order: 1;
}

code {
	letter-spacing: -.025rem;
	order: 2;
	justify-content: space-between;
	margin: .75rem .75rem .25rem;
	font-size: small;
	display: flex;
}

em,
li div,
li h2 {
	order: 3;
}

em {
	margin: auto .75rem .75rem;
	font-style: normal;
}

em a {
	position: relative;
}

em a:focus-within,
em a:hover {
	text-decoration: underline;
}

img {
	border-bottom: 2px solid;
	width: 100%;
	height: auto;
}

ol li:focus-within,
ol li:hover {
	box-shadow: 0 0 0 3px;
}

li div {
	text-overflow: ellipsis;
	margin: -.5rem .75rem 0;
	overflow: hidden;
}

code span {
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: .5rem;
	overflow: hidden;
}

time {
	white-space: nowrap;
}

input {
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 5px;
	padding: .25rem 1rem;
	transition-property: all;
	transition-duration: .12s;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	box-shadow: 3px 3px #000;
}

button:focus,
input:focus {
	box-shadow: none;
}

.pagination li:not(.disabled) a,
button {
	color: #000;
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 999px;
	padding: .25rem .45rem;
	font-weight: 700;
	transition-property: all;
	transition-duration: .12s;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	box-shadow: 3px 3px #000;
}

.pagination li:not(.disabled) a:hover,
button:hover {
	color: #fff;
	cursor: pointer;
	box-shadow: none;
	background-color: #000;
}

.pagination li.active a {
	color: #fff;
	box-shadow: none;
	background-color: #000;
}

button.sort:after {
	margin-left: .25rem;
}

button.sort.asc:after {
	content: "↓";
}

button.sort.desc:after {
	content: "↑";
}

.pagination {
	gap: .5rem;
	margin-top: 1.5rem;
	display: flex;
}

.disabled {
	pointer-events: none;
	cursor: default !important;
}

.pagination li:hover {
	background-color: #fff;
}

div p {
	gap: .5rem;
	display: flex;
}

div p span,
label {
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	overflow: hidden;
}

main div {
	flex-direction: column;
	gap: 1rem;
	padding: 0 0 1rem;
	display: flex;
}

@media (min-width: 438px) {
	body {
		background-color: #ff0;
	}

	ol {
		grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
	}
}

@media (min-width: 536px) {
	body {
		background-color: red;
	}

	ol {
		grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	}

	button {
		padding: .25rem 1rem;
	}
}

@media (min-width: 688px) {
	body {
		background-color: green;
	}

	input {
		max-width: none;
	}

	button {
		padding: .25rem .45rem;
	}

	main div {
		flex-direction: row;
	}
}

@media (min-width: 800px) {
	body {
		background-color: #fff;
	}

	button {
		padding: .25rem 1rem;
	}
}

small {
	margin-top: 1rem;
	display: flex;
}