*,
:after,
:before {
	box-sizing: border-box;
}

* {
	margin: 0;
	/* line-height: calc(1em + .5rem); */
}

body {
	margin: 1rem;
	font-family: Seravek, Gill Sans Nova, Ubuntu, Calibri, DejaVu Sans, source-sans-pro, sans-serif;
}

a {
	outline: none;
	text-decoration: none;
	font-weight: 700;
}

ol,
ul {
	padding: 0;
	list-style: none;
}

ol {
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	gap: 1.5rem;
	display: grid;
}

ol li {
	border: 2px solid #000;
	flex-direction: column;
	display: flex;
}

ol li > * + * {
  /* margin-top: 0.75rem; */
}

h2 {
	text-wrap: balance;
	line-height: 1.1;
}

li p {
	order: 1;
}

li code {
	order: 2;
}

li h2,
.description,
em {
	order: 3;
}

img {
	border-bottom: 2px solid #000;
	width: 100%;
	height: 100%;
	background-color: red;
	/* margin-top: -.75rem; */
}

ol li:hover {
	background-color: yellow;
	box-shadow: 0 0 0 0 3px;
}

code {
	justify-content: space-between;
	display: flex;
	letter-spacing: -.025rem;
	font-size: small;
}

div {
	overflow: hidden;
	text-overflow: ellipsis;
}

code span {
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: .5rem;
	overflow: hidden;
}

time {
	white-space: nowrap;
}