---
permalink: bundle.js
---
{% include "../node_modules/list.js/dist/list.min.js" %}
const listOptions={valueNames:["domain",{name:"launch",attr:"datetime"},"title","author"]},siteList=new List("sites",listOptions);siteList.sort("launch",{order:"desc"});